/*! 
 *  Written for: ?
 *  Author: @IkantamCorp - @ElmahdiMahmoud
 *  Further changes: @author
 *  Updated: 06.12.13
 */

/* Links & type =============== */
a 	{ color: #0088cc; text-decoration: none; }
a:hover,
a:focus { color: #005580; text-decoration: none; }
a {
     -webkit-transition: all .50s ease;
     	-moz-transition: all .50s ease;
     	  -o-transition: all .50s ease;
             transition: all .50s ease;
}


/* ** Helpers ** */
/* positions */
.pos-abs { position: absolute; }
.pos-rtv { position: relative; }
.pos-fxd { position: fixed; }

/* margin */
.m-10 	{ margin: 10px; }
.m-t10  { margin-top: 10px; }
.m-b10  { margin-bottom: 10px; }
.m-tb10 { margin-top: 10px; margin-bottom: 10px; }

.m-r10  { margin-right: 10px; }
.m-l10  { margin-left: 10px; }
.m-rl10 { margin-right: 10px; margin-left: 10px; }

/* padding */
.p-10 	{ padding: 10px; }
.p-t10  { padding-top: 10px; }
.p-b10  { padding-bottom: 10px; }
.p-tb10 { padding-top: 10px; padding-bottom: 10px; }

.p-r10  { padding-right: 10px; }
.p-l10  { padding-left: 10px; }
.p-rl10 { padding-right: 10px; padding-left: 10px; }

/* text */
.txt-uc { text-transform: uppercase; }

/* form fields */
.resize { resize: none; }

/*  old browser notification */
#browser-status {
        background-color: #dc3228;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
        color: #fff;
        font: normal 16px/100% Arial, san-serif;
		z-index: 9999;
}
#browser-status a { 
	color: #fff; 
	font-weight: normal; 
	text-decoration: none; 
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 10px;
	display: inline-block;
	margin-left: 10px;
}

/* Miscellaneous ============== */
input::-moz-focus-inner { border: 0; }
*:focus   { outline: 0; }
a img     { border: 0; }
a:active, a:focus { outline:none; }
@media \0screen { img { width: auto; } }
body, textarea:focus, input:focus { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection 	 { background: #333; color: #fff; text-shadow: none; }

.clear    { 
    visibility: hidden; 
    display: block !important; 
    font-size: 0; 
    content: " "; 
    clear: both; 
    height: 0; 
}

/* Icons ====================== */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  margin-top: 1px;
  margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../media/images/base/sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Widgets & modules ========== */
/*Style for plugins, etc...*/

/* Form\Input fields ========== */

