/*! 
 *  Written for: ?
 *  Author: @IkantamCorp - @ElmahdiMahmoud
 *  Further changes: @author
 *  Last modified date: 23.11.13
 */

/* Links & type =============== */
a 	{ color: #0088cc; text-decoration: none; }
a:hover,
a:focus { color: #005580; text-decoration: none; }
a {
     -webkit-transition: all .50s ease;
     	-moz-transition: all .50s ease;
     	  -o-transition: all .50s ease;
             transition: all .50s ease;
}


/* ** Helpers ** */

/*  old browser notification */
#ob {
	background-color: #fae4b2;
	border: 1px solid #ece29d;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: #fff;
	font: normal 16px/100% Arial, san-serif;
}
#ob a { color: #12c; font-weight: bold; text-decoration: underline; }

/* Miscellaneous ============== */
input::-moz-focus-inner { border: 0; }
*:focus   { outline: 0; }
a img     { border: 0; }
a:active, a:focus { outline:none; }
@media \0screen { img { width: auto; } }
body, textarea:focus, input:focus { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection 	 { background: #333; color: #fff; text-shadow: none; }

/* Icons ====================== */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  margin-top: 1px;
  margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../media/images/base/sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Widgets & modules ========== */
/*Style for plugins, etc...*/

/* Form\Input fields ========== */

